html {
  body {
    letter-spacing: theme("letterSpacing.wide");
    font-size: theme("fontSize.sm");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: theme("fontFamily.public-sans");
    color: theme("colors.slate.600");
    line-height: theme("lineHeight.5");
  }
  &.dark body {
    color: theme("colors.slate.100");
    .text-slate-500 {
      color: theme("colors.slate.400");
    }
    *,
    ::before,
    ::after {
      border-color: theme("colors.white" / 10%);
    }
  }
}
